html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-y: hidden;
}

div#headerdiv {
    /* clear: both; */
    width: 100%;
    border-bottom: 2px solid #ccc;
}
div#title {
    font-size: 140%;
    text-align: right;
}

div#maindiv {
    width:100%;
}

div#infodiv {
    margin-left: 285px;
}

.jstree-anchor {
    /*enable wrapping*/
    white-space : normal !important;
    /*ensure lower nodes move down*/
    height : auto !important;
    /*offset icon width*/
    padding-right : 10px;
}

div#treediv a {
    font-size: 80%;
    /*
    white-space: normal !important;
    height: auto !important;
    padding: 2px 2px;
    */
    max-width: 250px;
}

div#treediv {
    height: 100%;
    border-right: 2px solid #ccc;
    max-width: 275px; 
    width: 275px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Style the tab */
div.infotab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.infotab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.infotab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.infotab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.contenttab {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    overflow-y: scroll;
    /* height: 100%; */
}

