
div.section_heading {
    font-size: 125%;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 0em;
}

div.section_subheading {
    font-size: 100%;
    font-style: italic;
    padding-top: 1em;
    padding-bottom: 1em;

}

div.table_heading {
    font-weight: bold;
}

div.section_copyright {
    font-size: 80%;
    text-align: right;
}

a.section_copyright {
    color: gray;
}

div.section {
    padding-bottom: 2em;
}

iframe.basic_sheet {
    width: 80%;
    max-width: 800px;
    height: 400px;
}

div.basic_chart {
    background-color: #404040;
    width: 90%;
    max-width: 800px;
    height: 400px;
}

img.image {
    width: 80%;
}


/* Everything here is standard formatting for tables */

table.csvTable {
    width: 90%;
    max-width: 800px;
    border: 0px;
    border-collapse: collapse;
    font-family: Times;
}

tr.csvTop {
    font-weight: bold;
    background-color: #e0f0e0;
}

tr.csvBottom {

}

tr.csvEven {
    background-color: #e0e0e0;
}

tr.csvOdd {
    background-color: #d0d0d0;
}

td.csvLeft {
    font-weight: bold;
    background-color: #f0f0e0;
}

td.csvRight {

}

td.csvColEven {

}

td.csvColOdd {

}

td.csvUpperLeft {
    background-color: white !important;
}

td.csvRefLink {
    font-size: 80%;
    text-align: right;
}

div.refLink {
    font-size: 80%;
    text-align: right;
}



span.reference a:link {
    text-decoration: none;
    color: #202020;
}
span.reference a:visited{
    text-decoration: none;
    color: #202020;
}
span.reference a:hover{
    font-weight: bold;
}
div.references_container {
    font-size: 75%;
}
span.reflist_title {
    font-weight: bold;
}
span.reflist_author { }
span.reflist_year { }
a.reflist_link:link {
    text-decoration: none;
    color: #202020;
}
a.reflist_link:visited {
    text-decoration: none;
    color: #202020;
}
a.reflist_link:hover {
    font-weight: bold;
}
